<div class="containerH">
  <h2>Submit Movie Title</h2>
</div>

<div class="containerH">
  <p>MovieDB: {{message}}</p>
  <br>
  <p>Tsutaya: {{message2}}</p>
</div>

<div class="containerH">
  <form method="post" action="/">
    <input type="text" name="movieTitle" placeholder="movieTitle" />
    <br />
</div>

<div class="containerH">  
  <button>Submit</button>
  </form>
</div>


