


<div class="containerH">
  <form method="post" action="/">
    <input type="text" name="movieTitle" placeholder="search a title here!" />
    <br />
</div>



<div class="containerH">  
  <button>Submit</button>
  </form>
</div>


<div class="results box">
  <p>MovieDB: {{message}}</p>
  <br>
  <p>Tsutaya: {{message2}}</p>
</div>
