body {
  color: #d62b1e;
  font-family: 'Source Sans Pro', sans-serif;

  background: #dbdbd5;
}

a {
  text-decoration: underline;
  color: #d62b1e;
}


form {
  margin: 0 auto;
  box-shadow:   7px 7px 0px -2px #d62b1e,
              -7px -7px 0px -2px #d62b1e;
}

input {
  width: 100%;
  background: #dbdbd5;
  border: none;
  text-align: center;
  padding: 5% 0px;
}
